/**
 * DARK GRAY    : #323641;
 * GRAY 1       : #393d48;
 * GRAY 2       : #3e424e;
 * LIGHT GRAY   : #f6f6f6;
 * BLUE SKY     : #0093de;
 */

html, body { height: 100%; overflow-y: hidden; }
body { background: #f6f6f6; }

#main > aside { background: #393d48; height: 100%; left: 0; position: fixed; top: 0; width: 50px; z-index: 10; }
#main > aside > header > #logo { background: #323641; border-bottom: dashed 2px #ccc; height: 60px; padding: 5px; width: 100%; }
#main > aside > header > #logo > span { color: #ebebea; display: none; font-family: 'Comfortaa', cursive; font-size: 32px; font-weight: bold; letter-spacing: 8px; text-align: center; width: 100%; }
#main > aside > header > #account { background: #3e424e; height: 50px; padding: 5px; position: relative; width: 100%; }
#main > aside > header > #account > #image { background: url('../images/me-scale.jpg') no-repeat center; background-size: contain; border-radius: 20px; cursor: pointer; height: 40px; width: 40px; }
#main > aside > header > #account > #profile { display: none; position: absolute; right: 5px; top: 20px; width: 120px; }
#main > aside > header > #account > #profile > strong { color: #fff; display: block; font-size: 18px; }
#main > aside > header > #account > #profile > span { color: #999; display: block; font-size: 14px; line-height: 5px; }
#main > aside > nav > #menu { font-size: 14px; padding: 0; }
#main > aside > nav > #menu > li { border-left: solid 5px transparent; color: #fff; cursor: pointer; list-style: none; padding: 7px 15px; position: relative; }
#main > aside > nav > #menu > li > .option { color: inherit; text-decoration: none; }
#main > aside > nav > #menu > li > .option > i { margin-right: 10px; }
#main > aside > nav > #menu > li > .option > span { display: none; }
#main > aside > nav > #menu > li > ul { background: #3e424e; display: none; padding: 0; position: absolute; right: -150px; top: 0; width: 150px; }
#main > aside > nav > #menu > li > ul > li { color: #ccc; list-style: none; padding: 7px 10px; }
#main > aside > nav > #menu > li > ul > li > a { color: inherit; text-decoration: none; }
#main > aside > nav > #menu > li > ul > li > a > i { margin-right: 5px; }
#main > aside > nav > #menu > li > ul > li:hover { color: #fff; }
#main > aside > nav > #menu > li > ul > li + li { border-top: dotted 1px #999; }
#main > aside > nav > #menu > li.logout { color: orangered !important; }
#main > aside > nav > #menu > li.selected { background: #323641; border-left-color: #ccc; }
#main > aside > nav > #menu > li.selected > ul {  display: block; }
#main > aside > nav > #menu > li.active { background: #323641; border-left-color: #0093de !important; }
#main > aside > nav > #menu > li:hover { background: #323641; }
#main > section { height: 100%; position: fixed; right: 0; top: 0; width: calc(100% - 50px); z-index: 9; }
#main > section > #title { background: #fff; box-shadow: 0 0 10px #999; height: 60px; padding: 0 20px; position: relative; }
#main > section > #title > h1 { color: #666; font-size: 24px; padding: 15px 0; }
#main > section > #title > h1 > i {}
#main > section > #title > #actions { height: 40px; padding: 2px 0; position: absolute; right: 20px; top: 10px; }
#main > section > #title > #actions > .button { height: 100%; }
#main.expand > aside { width: 200px; }
#main.expand > aside > header > #logo > span { display: block; }
#main.expand > aside > header > #account { height: 80px; padding: 10px 5px; }
#main.expand > aside > header > #account > #image { border-radius: 30px; height: 60px; width: 60px; }
#main.expand > aside > header > #account > #profile { display: block; }
#main.expand > aside > nav > #menu > li { border-left-width: 8px; }
#main.expand > aside > nav > #menu > li > .option > span { display: inline; }
#main.expand > section { width: calc(100% - 200px); }